    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">&nbsp;</h1>
                        <p class="intro-text">{{ content }}</p>
                        {% capture title %}{% for page in site.pages | sort: "title" %}{% if forloop.first %}{{ page.title }}{% endif %}{% endfor %}{% endcapture %}
                        <div class="header-images">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/timeline/javascript.png" style="display: inline-block" alt="JavaScript" width="50" height="60">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/timeline/ruby.svg" style="display: inline-block" alt="Ruby" width="50" height="60">
                            <img class="img-responsive" src="{{ site.baseurl }}/img/timeline/react.png" style="display: inline-block" alt="React" width="50" height="60">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
